.shopCategory-banner{
    display: block;
    margin: 30px auto;
    width: 80%;
    height: auto;
}
.shopcategory-indexsort{
    display: flex;
    margin: 0 170px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
    cursor: pointer;
}
.shopcategory-indexsort p span{
    font-weight: 600;
}
.shopCategoryProducts{
   margin: 50px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    
}

.shopCategory-loadMore{
    display: flex;
    justify-content: center;
    align-items:center ;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
@media (max-width:1280px) {
    .shopCategory-banner{
        margin: 20px auto;
        width: 90%;
    }
    .shopcategory-indexsort{
        width: 90%;
        margin: auto;
    }
    .shopcategory-sort{
        padding: 5px 10px;
        font-size: 12px;
    }
    .shopcategory-indexsort p{
        font-size: 12px;
    }
    .shopCategoryProducts{
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }
    .shopCategoryProducts .item{
        margin: auto;
    }
    .shopCategory-loadMore{
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;

    }
}
@media (max-width:800px) {
    .shopCategory-banner{
        width: 95%;
    }
    .shopCategoryProducts{
        width: 95%;
    }
    .shopCategory-loadMore{
        width: 150px;
        height: 40px;
        font-size: 13px;
        margin: 60px auto;
    }
}
@media (max-width:500px) {
    .shopCategoryProducts{
        grid-template-columns: 1fr 1fr;
    }
}